<% provide :title, t(".title") %>
<% provide :button_text, t(".button") %>
<h1><%= t ".title" %></h1>
<div class="row col-md-12">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= render "form" %>
  </div>
  <div class="col-md-2"></div>
</div>
