<% provide :title, @author.name %>
<div class="row">
  <h1>
    <%= @author.name %>
  </h1>
  <h4>
    <%= @author.brith_year %>
  </h4>
  <div class="row">
    <span class="glyphicon glyphicon-phone"></span>
    <%= @author.phone %>
  </div>
  <div class="row">
    <span class="glyphicon glyphicon-home"></span>
    <%= @author.address %>
  </div>
</div>
