<div class="btn-cancel">
<% if order.status == "unchecked" %>
  <%= link_to t(".cancel"), order_path(order.id, params.permit().merge(status: :canceled)),
    method: :put, class: "btn btn-primary" %>
<% else %>
  <button class="btn btn-secondary" disabled><%= t ".canceled" %></button>
<% end %>
</div>
