<% if user_signed_in? %>
  <div id="favorite_form">
    <% if current_user.favorited? @book %>
      <%= render "favorite" %>
    <% else %>
      <%= render "unfavorite" %>
    <% end %>
  </div>
<% end %>
