<% provide :title, t(".title") %>
<h3>Cart</h3>
  <% if !session[:cart].blank? %>
	<div class="full-screen cart-container">
	  <div class="row">
	    <div class="col-md-12 show_table">
	     <%= render "table" %>
	    </div>
	  </div>
	</div>
  <% else %>
  <p class="text-left">
    <% t ".p1" %><%= link_to t(".back"), root_path, class: "btn btn-primary" %><% t ".p2" %>
  </p>
  <% end %>
