<footer class="text-center"> 
  <%= link_to "#", class: "up-arrow", "data-toggle": "tooltip" do %>
    <span class="glyphicon glyphicon-chevron-up"></span>
  <% end %>
  <p><%= t ".copyright"%></p>
</footer>
